%h2 Just submit my project and it will appear on the site?
%p
  Actually, no
  %strong We approve project
  that will appear on Catarse. We call this process of screening: Our intention is to display only projects that are nice and ready to go public asking for financial support. But do not worry: we are very open about how a project is cool :)
%h2 Any tips on what type of projects Catarse accepts?
%p We welcome art projects: Fine Arts, Circus, Dance, Movies, Photography, Music, Theatre, etc.. And also creative projects in fields such as Food, Design, Fashion, Technology, Games, Comics, Journalism, among others.
%p
  %strong We do not accept charity.
  Not that we do not like these projects or do not think are important: far from it. But Catarse is a site that focuses on creative projects. However, if your project involves a social cause and is creative at the same time, we will accept it quietly.
%p
  %strong Do not finance companies, projects only.
  If your project has the intention to make money, no problem! What we mean is that we will only accept projects, ie: something that has a start date and an end date. For example, if you want to remodel your candy shop craft a creative way, we are more than welcome to share your project. But the Catarse is not the right place if you want to keep a store indefinitely. Draw a new collection of clothes, yes, keeping a brand of clothing, without a project deadline, no.
%p
  %strong All projects have to offer rewards.
  Catarse is a form of commerce and patronage. If you do not think the rewards are a fundamental part of your project, perhaps the Catarse is not the best solution for you. Oh, and remember, lucky draws, financial returns and equity are prohibited.
%p Well, you have any questions, just talk to us #{mail_to t('site.email.contact'), "here"}.
