%h2 How does this collaborative funding works?
%h3 Our magic formula
%p We believe that the best way to inspire people to support a project is offering excellent and creative rewards! Everyone loves limited editions, unique things and fun experiences (parties, candy, balloon!). Spend some time thinking about creative rewards so that people will be interested.
%h3 What is this thing: all or nothing?
%p In Catarse, a project is only funded if the proposed objective is reached by the deadline. If not, supporters get their money back. Why? To reduce the risk of everyone. 
%h3 And how I pay for the service?
%p To put a project on the site, it costs nothing. Now, if (and only if) the project is successful, Catarse charge 7.5% of the amount collected. Inaddition, MoIP and Paypal also charge a fee that varies in general between 4% and 5% per transaction. 
%h3 And the intellectual property of projects?
%p It is 100% yours.
%h3 And how do I get people to finance my project?
%p Well, at first, it is important that you bring people you know to support your project, your friends, family and people who are already a fan of your work. Your project will spread to other communities which will attract more people. A good idea, communicated well, can spread quickly and widely.
%h3 How should I go about in asking people to fund my project??
%p The key point here is to understand your scope. Think about your network of friends and how your project and your rewards will be attractive to them.
%h3 And I can raise more than my target amount?
%p Absolutely! There is no maximum limit. The projects backers will accept until the last seconds of the deadline.
%h3 But my ideas are not super great or important. Can Catarse serves me?
%p Of course! The project may be small, big, serious, funny, traditional, innovative. Your project will finish in one week and need some money? Perfect, we welcome you.
%h3 And what kinds of projects do well? What is the secret?
%p Your passion for the project. The transparency and the ability to run the project come soon after. But your ability to disseminate the project will be crucial.