= content_for :title, t('.title')
= content_for :content_header do
  %h1 FAQ/Help
  %h2 your questions plus learn more about crowd funding and Catarse.
.text
  %h2 The fundamental
  %h3 What is Catarse?
  %p Catarse is different – crowdfunding! – To fund creative projects.
  %p And above all, it would be cool to know why we believe that this new way is sensational:
  %ol
    %li Many fantastic projects cannot go forward with the current funding possibilities.
    %li People can be excited about your project and may as well be an ideal source of money for you.
    %li If the ideas are good and well communicated, they can spread quickly to a lot of people and, therefore, more people will contribute to the success of your project.
  %h3 But how exactly Catarse going to do that?
  %p All projects must have a goal of raising (from $1.00) and a period (between 1 and 60 days). Meanwhile, the project owner has to engage his/her community to get together the money that was requested. When you finish the deadline, we will have two options, which we call all-or-nothing:
  %p
    %em Successful project:
    if the goal is reached or exceeded, the project owner takes all money raised.
  %p
    %em Project unsuccessful:
    if the goal is not reached, we return the contributions to all the supporters and the project owner gets nothing. 
  %h3 Ok! Why all or nothing?
  %p We have some good reasons:
  %ol
    %li
      %em It is less risky.
      For both the project owner - if he asked for a minimum amount, because without that money is going to be difficult project happen - and for those who supported - if the project does not happen, the person will not reward, but get your money back or credit will have to support other projects.

    %li
      %em It's a great opportunity to test concepts.
      If you do not gain the necessary support, it may be that the project still is not good - after all, the boss is the public. 
    %li
      %em It gives an extra motivation.
      Everyone liked it and was excited with the project shall strive to promote it, especially down the stretch. 
  %h3 And why do people contribute to these projects?
  %p
    %em Being part of something bigger.
    The project goes forward only if people contribute. Their support, no matter how small the amount, is essential to the project being successful.
  %p
    %em You do not need help with a truckload of money.
    Most projects offer rewards from $ 10.00. 
  %p
    %em Rewards.
    Nothing better than services, experience and unique products, creative, fun, to encourage people to support your project. The rewards are offered by the project owners, according to ranges of different incentives. If you contribute $10.00, earn a specific reward. If you contribute $50.00, get another. 
  %h3 So, it's not investment?
  %p No way! The creators of designs keep 100% ownership and copyright of their ideas.
  %h3 But, after all, who can have their project in Catarse?
  %p Here, we welcome artistic projects: Fine Arts, Cinema, Circus, Dance, Movies, Music, Photography, Literature, Theatre. As well as creative projects and entrepreneurs to emerge in fields such as Architecture and Urban Design, Culinary, Design, Fashion, Technology, Games, Comics, Journalism, etc..
  %p If you think your project is creative, but it does not fit into any of the above areas, do not be shy, send it to us and we'll talk more about it. We are passionate about new ideas and would love to hear them.
  %h2 Getting around Catarse...
  %h3 How can I support a project?
  %p When you are on the page of a project, click on the green big one "I support this project" (it is on the right side of the screen). After that, you will have a field to enter the value that will support and you can select your reward. On the next screen, you have two options: continue paying by Paypal or by MoIP.
  %p If you do not live in Brazil, your payment will be made by Paypal, for MoIP not accept international payments. For that, you just click on "Want to make international payments? Click here. "Detail: If you are using Paypal, no need to fill in those fields address and phone number, ok?
  %p If you use the MoIP, will have to fill in some basic data that are required to make payments. Then you will be redirected to the environment MoIP to choose your preferred payment method and submit it.
  %h3 What happens to the money donated?
  %p So you support the project, the money will go to an account in Catarse MoIP/Paypal account. Then there are two possibilities:
  %ul
    %li If the project succeeds, we redirect the value to the project owner (minus away the fees incured)
    %li
      If the project is not successful, we
      %strong refund
      your money back as credits in your Catharse account(one working day after the deadline), and you can support another project. If you do not want to support another project and prefer to have your money back, no problem: go to My Credits (just click on your username, up there in the right corner of the screen that appears the option) and click Request Refund. If payment is made by Paypal, you will have 100% of your money back if the cancellation is requested is made within 60 days after your payment has been completed, if not, the transaction fees Paypal (5.4% or $0.39) will be deducted from the amount to be reversed. If payment was made to MoIP, you have until 180 days after your support to make this request, ok? 
  %p An important detail: if you paid by credit card, the cancellation will be done on your next bill. If you paid by debit or docket, the only way to do the chargeback is you open an account on MoIP (may seem complicated, but it is hard not to, we will step-by-step to do so). Then we transfer the value of our account to yours and from there you transfer to your bank account. 
  %h3 Why MoIP or Paypal?
  %p The MoIP is one of the most innovative companies in the Brazilian market of means of payment.
  %p Paypal is the largest means of electronic payments in the world. And by working around the world, it allows payments to be made from any country.
  %p They provide transactions that are safe and in Catarse, we ensure that we work on the refunds, if the projects are not successful.
  %h3 Do I need an account in Paypal or MoIP to support a project?
  %p No. You can use your preferred credit card, make a wire transfer if your bank is MoIP partners (Bank of Brazil, Bradesco, Itau, Banrisul, Royal Bank), issue a ticket, use credits in your wallet.
  %h3 What information the creator of the project will receive if I support the project?
  %p The creator will know your username in Catarse (unless support has been done anonymously), your email, your supported the value and what reward selected.
  %h3 The value that I have contributed will be shown publicly?
  %p No, no. Only the creator of the project will receive this information.
  %h3 And if I want my support to be anonymous?
  %p
    No problem, just check the option "I want my support to be anonymous" at the time of keying in your information.
  %p Moreover, the value of your support will not be disclosed to anyone other than the owner of the project.
  %h3 Will I receive notification when the projects that I supported ended?
  %p Yes. Whether the project succeeds, or not, you will receive an email.
  %h2 Sending your project
  %h3 What do I need to submit my project?
  %p First you have to enter the "Submit your project" (in the corner right at the top of the site). There we explain and gives you some tips for you build your project. Then just fill in and send the project.
  %h3 Every project will appear in the site??
  %p No. We have a team responsible for evaluating projects. We will not judge the artistic quality of his or throbbing in his business model. In fact, we want to know more about the history of the project's creator, as he wants to communicate and engage their community to raise the money, know what he intends to offer rewards and see if the project fits within our guidelines ( basically, do not accept charity projects or social causes, not indefinitely finance business, projects only).
  %p We have some reasons for doing so:
  %ul
    %li Reduce the risk of a project does not run if it is financed;
    %li Whether the project designer has plans to engage their community to raise funds.
    %li Check if the rewards generate value for the supporters.
  %p Oh, and there are no limits of projects that will go to air. It's not a competition. For us, the more projects the merrier.
  %h3 What kind of response can I expect after I sent my project?
  %p There are three possibilities: we authorize the project and it will air, we will send new questions to understand more about the project, or not accept the project if it is not within our focus.
  %h3 How long do I have to wait for a response from Catarse?
  %p We will try to respond as quickly as possible, but no more than 4 days.
  %h2 Money Matters
  %h3 How the creators of the projects will receive money if the project is successful?
  %p First, you need to have an account with MoIP/Paypal, or both. Payment will be made in two stages. The reason for this is that funding from credit card account only enter into Catarse 30 days after the day of payment.
  %p The first stage: all payments slips, bank transfer, plus those made by credit card for more than 30 days, will be made within 2 working days after the project deadline.
  %p The second stage: remaining funds will be available 30 days after the project deadline.
  %p In both cases, fees will be deducted from the amounts related to the rate of Catarse and the means of payment. And we will send a report detailing all pointing to the creators.
  %h3 How much Catarse charges?
  %p 7.5%. Note that this value will only be charged for successful projects.
  %h3 What is the rate charged by other means of payment?
  %p The rate that the project owner will have to pay varies with the method of payment that is chosen by the supporters. Based on the cases so far, this rate will vary between 3.5% and 5.5%. Remember that this rate is only for the project owners.
  %h3 Does it cost anything to put a project in Catarse?
  %p No. Nothing.
  %h3 And what is the maximum number of projects I can submit?
  %p There is no maximum limit.
  %h3 What is the minimum and maximum for the rewards?
  %p Has a minimum value: $10 but no maximum value.
  %h3 What about intellectual property?
  %p It is and always will be 100% of the project owner.
  %h2 While the project is in progress...
  %h3 The project can be edited after release?
  %p Yes, yes. The only things that can not be changed are: the purpose of financing, the closing date (deadline) and the rewards that have been selected some time. Meanwhile, to make these changes you have to send an email to us ok? Later on, you can do so directly on the site.
  %h3 When my project has raised the money before the deadline, can I ask for it to end?
  %p No, you have to wait until the deadline. Indeed, this is a great opportunity for you to engage your community to get extra support.
  %h3 Can I edit some information on my project after the project deadline?
  %p No, but you can use the Updates tab to continue in relationship with the supporters or other people who became interested in your project.
  %h3 A project can be deleted from Catarse?
  %p If it has already been released to the public, no. Even if it is not funded, it will remain on the site, for the sake of transparency.
  %h3 Can I cancel my project?
  %p Can. For this you will need to send an email to us. We will also need an explanation (which makes sense) about the reasons that led you to this decision to send it to all who have contributed to your project. In this case, your project will appear as "unfunded", ok?
  %h2 Projects will be closed a second chance!
  %p The following requirements are to be met:
  %p
    1)
    %strong The project must have reached at least 25% in the first collection.
    Most of the projects that go beyond just reaching that mark the total and is successful. We believe therefore that if a project reaches this percentage, he deserves a chance.   %p
    2)
    %strong The project should be reformulated.
    If the project failed to be successful, something in the project or its dissemination plan did not work. The director shall conduct an analysis and provide solutions to problems found which may result in changes in the conditions of the project itself and the rewards or the reformulation of the released plan.   %p
    3)
    %strong The project needs to launch a new video.
    The idea here is to explain what happened in the first collection and what are the differences for the second campaign.   %p
    4)
    %strong Open the budget.
    In this second attempt is essential to open the budget sheet for everyone to track the costs of completing the project. And, in case of change of the amount requested (in relation to the first campaign), explain the reasons for the reduction / increase. That is, the project will air only after a joint analysis and transparent budget.   %p
    5)
    %strong Send an email to all supporters. 
    Transparency who supported the first time is critical. Moreover, this is a way to bring the person back to support the project.
  %h2 Rewards Matters
  %h3 Who creates the rewards?
  %p The creator of the project.
  %h3 What can be offered as a reward?
  %p
    Virtually everything
    %strong except:
    money, products, services, etc... Rewards are to be creative. Creative rewards make the project owners are perceived as creative people.   %h3 Como posso obter as informações (email, tamanho de camiseta, endereço) dos apoiadores do meu projeto para distribuir as recompensas?
  %h3 How can I get information (email, shirt size, address) of the supporters of my project to distribute the rewards?
  %p In the main supporters of the project, you will see the emails of all his supporters. You should contact them to get other types of information.
  %h3 Who is responsible for delivering the rewards?
  %p The project owner. Catarse only acts as a facilitator in the process.
  %h2 Some other things
  %h3 Is there someplace I can order new features?
  %p Just click the "Suggestions" right there on your left, or send an email to us
  %h3 I have a question not answered here, is there any way I can get in touch with you?
  %p Send an email to us