= content_for :title, t('.title')
= content_for :content_header do
  %h1 Privacy Policy
  %h2 Check out our privacy policy and see why your privacy is protected with us.
.text
  %h2 Explained in a simple way
  %p We strive to offer the best service possible - to make it easy to organize a fundraising plus management of your project.