= content_for :title, t('.title')
= content_for :content_header do
  %h1 Terms of use
  %h2 Carefully read the terms of use. Site usage implies acceptance of these terms.
.text  
  %p Welcome to Catarse! It is worth reminding you that access to the contents of this website depend on its full compliance with the terms and conditions of use set forth herein.